/* Configuração geral */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
  }
  
  
  header {
    position: fixed;
    top: -100px; /* Inicialmente fora da tela */
    left: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: top 0.3s ease-in-out;
    z-index: 1000;
  }

  header div nav{
    display: flex;
    width: 70%; /* 70% de largura total, 15% de margem para cada lado */
    margin: 0 auto;
    justify-content: space-between;
  }
  
  header.visible {
    top: 0; /* Desliza para dentro da tela */
  }
  
  header div nav div{
    margin: 20px;
    font-size: 1.5rem;
    font-weight: bold;
    display: inline-block;
  }
  
  header div nav ul {
    align-items: center;
  }
  
  header div nav ul {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    margin: 0;
    padding: 0;
  }
  
  header div nav ul li a {
    text-decoration: none;
    color: #333;
  }
  
  header div nav button {
    margin: 10px;
    background-color: #ff5a5a;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
  }
  
  header div nav button:hover {
    background-color: #ff4040;
  }
  
  body section{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
    background-color: #f4f4f4;
    text-align: center;
  }
  
  body section h1 {
    font-size: 2rem;
    margin: 0;
  }
  
  body section p {
    margin-top: 0.5rem;
    color: #666;
  }
  
  .cookie-consent {
    border-radius: 8px;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 28%;
    background-color: #fce4e4;
    padding: 1rem 0;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .cookie-consent .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .cookie-consent p {
    margin: 20px;
    font-size: 0.9rem;
  }
  
  .cookie-consent button {
    background-color: #ff5a5a;
    color: white;
    border: none;
    margin: 20px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .cookie-consent button:hover {
    background-color: #ff4040;
  }
  
  /* Responsividade */
  @media (max-width: 768px) {
    .container {
      width: 90%; /* Aumenta o preenchimento lateral para telas menores */
    }
  
    .navbar .menu ul {
      flex-direction: column;
      display: none;
    }
  
    .navbar .menu ul.active {
      display: flex;
    }
  
    .cookie-consent {
      flex-direction: column;
      gap: 1rem;
    }
  }
  
  @media (max-width: 480px) {
    .navbar {
      flex-direction: column;
    }
  
    .navbar .menu ul {
      align-items: center;
    }
  
    .navbar .btn-consulta {
      width: 100%;
    }
  }
  